In [1]:
# importing libraries
import numpy as np
import pandas as pd
import itertools
from sklearn.model_selection import train_test_split
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.linear_model import PassiveAggressiveClassifier
from sklearn.metrics import accuracy_score, confusion_matrix
import os

In [2]:
path ="C:/Users/16073/Desktop/DSprep/FakeNews" #setting the path to the directory
os.chdir(path) # changing the directory
os.getcwd()

'C:\\Users\\16073\\Desktop\\DSprep\\FakeNews'

In [3]:
df=pd.read_csv("train.csv")
df.head(5)

,id,title,author,text,label
0,0,House Dem Aide: We Didn’t Even See Comey’s Let...,Darrell Lucus,House Dem Aide: We Didn’t Even See Comey’s Let...,1
1,1,"FLYNN: Hillary Clinton, Big Woman on Campus - ...",Daniel J. Flynn,Ever get the feeling your life circles the rou...,0
2,2,Why the Truth Might Get You Fired,Consortiumnews.com,"Why the Truth Might Get You Fired October 29, ...",1
3,3,15 Civilians Killed In Single US Airstrike Hav...,Jessica Purkiss,Videos 15 Civilians Killed In Single US Airstr...,1
4,4,Iranian woman jailed for fictional unpublished...,Howard Portnoy,Print \nAn Iranian woman has been sentenced to...,1

In [4]:
df.shape

(20800, 5)

In [12]:
# get the labels
labels=df.label
labels.head()

0    1
1    0
2    1
3    1
4    1
Name: label, dtype: int64

In [13]:
# splitting into testing and training sets
x_train,x_test,y_train,y_test=train_test_split(df['text'], labels, test_size=0.2, random_state=7)

In [17]:
# Initializing a vectorizer
tfidf_vectorizer=TfidfVectorizer(stop_words='english', max_df=0.7)

In [18]:
# fitting and tranforming train set
tfidf_train=tfidf_vectorizer.fit_transform(x_train.values.astype("U"))

In [20]:
# transforming test set
tfidf_test=tfidf_vectorizer.transform(x_test.values.astype("U"))

In [21]:
# Initialize  a PassiveAgressive Classifier
pac=PassiveAggressiveClassifier(max_iter=50)
pac.fit(tfidf_train,y_train)

PassiveAggressiveClassifier(max_iter=50)

In [22]:
#Predict on the test set and calculate accuracy
y_pred=pac.predict(tfidf_test)
score=accuracy_score(y_test,y_pred)

In [23]:
print(f'Accuracy: {round(score*100,2)}%')

Accuracy: 96.71%

In [25]:
# Printing out  a confusion matrix
confusion_matrix(y_test,y_pred)

array([[1990,   70],
       [  67, 2033]], dtype=int64)

In [27]:
# training on a whole sample before using it to predict labels in the testing set
x_train_all=df.text
y_train_all=df.label

In [28]:
x_train_all

0        House Dem Aide: We Didn’t Even See Comey’s Let...
1        Ever get the feeling your life circles the rou...
2        Why the Truth Might Get You Fired October 29, ...
3        Videos 15 Civilians Killed In Single US Airstr...
4        Print \nAn Iranian woman has been sentenced to...
                               ...
20795    Rapper T. I. unloaded on black celebrities who...
20796    When the Green Bay Packers lost to the Washing...
20797    The Macy’s of today grew from the union of sev...
20798    NATO, Russia To Hold Parallel Exercises In Bal...
20799      David Swanson is an author, activist, journa...
Name: text, Length: 20800, dtype: object

In [29]:
tfidf_train2=tfidf_vectorizer.fit_transform(x_train_all.values.astype("U"))

In [30]:
pac.fit(tfidf_train2,y_train_all)

PassiveAggressiveClassifier(max_iter=50)

# Using on a testing set without labels

In [35]:
# importing the testing set without labels
test=pd.read_csv("test.csv")
test.head()

,id,title,author,text
0,20800,"Specter of Trump Loosens Tongues, if Not Purse...",David Streitfeld,"PALO ALTO, Calif. — After years of scorning..."
1,20801,Russian warships ready to strike terrorists ne...,NaN,Russian warships ready to strike terrorists ne...
2,20802,#NoDAPL: Native American Leaders Vow to Stay A...,Common Dreams,Videos #NoDAPL: Native American Leaders Vow to...
3,20803,"Tim Tebow Will Attempt Another Comeback, This ...",Daniel Victor,"If at first you don’t succeed, try a different..."
4,20804,Keiser Report: Meme Wars (E995),Truth Broadcast Network,42 mins ago 1 Views 0 Comments 0 Likes 'For th...

In [39]:
x_test_nolabel=test.text
x_test_nolabel
tfidf_test2=tfidf_vectorizer.transform(x_test_nolabel.values.astype("U"))

In [41]:
y_pred2=pac.predict(tfidf_test2)
y_pred2

array([0, 1, 1, ..., 0, 1, 0], dtype=int64)

In [42]:
data={"id":test["id"], "label":y_pred2}

In [43]:
data

{'id': 0       20800
 1       20801
 2       20802
 3       20803
 4       20804
         ...
 5195    25995
 5196    25996
 5197    25997
 5198    25998
 5199    25999
 Name: id, Length: 5200, dtype: int64,
 'label': array([0, 1, 1, ..., 0, 1, 0], dtype=int64)}

In [44]:
subm1 = pd.DataFrame(data=data)
subm1

         id  label
0     20800      0
1     20801      1
2     20802      1
3     20803      0
4     20804      1
...     ...    ...
5195  25995      1
5196  25996      0
5197  25997      0
5198  25998      1
5199  25999      0

[5200 rows x 2 columns]

In [45]:
subm1.to_csv("fake1.csv", index=False)

Submission score on Kaggle: 0.96025